/* ---- GENERAL RULES ----- */
*{
     margin: auto;
     margin: 0;
     padding: 0;  
     font-family: 'Roboto', sans-serif;}

.clearfix::after{
     clear: both;
     content: "";
     display: table;      }

.flex{
     display: flex;   }

ul{
     list-style-type: none;  }

#container{
     font-size: 85%;
     height: 100vh;
     width: 100%;
     overflow-y: hidden;
     position: relative;     }  
 
#icone_nav ul li:hover , #playlist h5:hover , #playlist span:hover , #lista_playlist ul li:hover , #download_app span:hover , #nav_main_body ul li:hover{
     color: white;
     cursor: grab ;      }    

#icone_nav , #playlist span , #lista_playlist , #download_app , #nav_main_body ul li {
     color: #6d6d6d;    }     
/* ---- /GENERAL RULES ----- */

/*-------- BARRA TOP ------- */
#top_container{
     height: 90vh;    
}

#upgrade{
     background-color: #080b12;
     height: 10vh;
     justify-content: end;
     align-items: center;     }

#upgrade>div{
     border:solid 1px;
     border-radius: 25px;
     color: white;
     padding: 8px 16px;
     width: 17%;
     text-align: center;     }

#upgrade>div:hover{
     transform: scale(1.15);
     transform-origin: right;
     cursor: grab;  }
/*-------- BARRA TOP ------- */

/* -------BLOCCO DESTRO ------ */
#main_body{
     width: calc(100vw - 10%);
     height: 80vh ;    }

#container_blocco_destro{
     overflow-y: auto;
     background-color: #141922;
     color: white; 
     height: 100%;   }

#nav_main_body ul li{
     display: inline-block;
     padding: 0 15px;
     margin: 20px 0;  }

#nav_main_body{
     justify-content: center;  }

#nav_main_body ul :first-child{
     position: relative;  }

#nav_main_body ul :first-child::after{
     background-color: #adff2f;
     bottom: -5px;
     content: '';
     height: 2px;
     left: 50%;
     position: absolute;
     transform: translate(-50%,0);
     width: 25px;  }

#container_canzoni{ 
     padding: 15px;
     flex-direction: column;   }

#container_canzoni img {
     width: calc(100% - 20px)      }

/* -------BLOCCO DESTRO --------- */

/* ----- BLOCCO SINISTRO-NAV- -------- */
#container_nav{
     flex-direction: column;
     justify-content: space-between;
     width: 15%;
     background-color: black;
     color: white;
     padding: 10px 10px 0 10px;   }

#logo{
     width: 50%;  }

#nav_up div , #nav_up li , #nav_up h4 , #nav_up span {
     padding-bottom: 8px;  }

.fa-plus-square{
     font-size: 200%;
     vertical-align: middle;  }

hr{
     border:0.5px solid #717171;
     margin:5px 0 5px;  }

#username img , #icone_nav img , #download_app img {
     width: 10%;
     vertical-align: middle;  }

#icone_nav ul li:first-child{
     margin-left: -10px;
     padding-left: 7px;
     border-left: #adff2f solid ;  }
/* ----- BLOCCO SINISTRO-NAV- -------- */


/* ------- FOOTER ----------- */
#inferior_container{
     height: 10vh;
     background-color: #282828;
     width: 100%;  
     justify-content: space-between;
     align-items: center;
     align-content: center;
     color: white;
}



#dx_footer , #sx_footer , #mid_footer {
     width: 33%

} 

#mid_footer{
     text-align: center;
}
#mid_footer input{
     width: 90%;
}
#mid_footer i{
     padding: 0 10px 5px;
     font-size: 110%;
}
#dx_footer{
     text-align: end;
    
}

#dx_footer i {
     margin: 0 10px ;
}

#sx_footer div{
     display: inline-block;
     margin: 0px 10px;
     vertical-align: super;

}

.grigio{
     color:#6d6d6d ;
}

#sx_footer>img{
     width: 10%;
     margin-left: 5px;
}

#mid_footer{
     align-self: center;
     justify-content: center;
}

.slide{
     width: 25%;
     height: 10px;
     background:red;
     outline: none;}


/* ------- FOOTER ----------- */




















