/* ---- GENERAL RULES ----- */

*{
     margin: auto;
     margin: 0;
     padding: 0;  
     font-family: 'Roboto', sans-serif;    }

.clearfix::after{
     clear: both;
     content: "";
     display: table;      }

ul{
     list-style-type: none;  }

#container{
     height: 100vh;
     width: 100%;
     overflow-y: hidden;
     position: relative;     }  

/* ---- /GENERAL RULES ----- */

/*-------- BARRA TOP ------- */
#top_container{
     display: flex;
     height: 90vh;
}

#upgrade{
     background-color: #080b12;
     height: 10vh;
     display: flex;
     justify-content: end;
     align-items: center;   
}

#upgrade>div{
     border:solid 1px;
     border-radius: 25px;
     color: white;
     padding: 10px;
     width: 20%;
     text-align: center;     
}
/*-------- BARRA TOP ------- */

/* -------BLOCCO DESTRO ------ */
#main_body{
     width: calc(100vw - 10%);
}

#container_canzoni{
     overflow-y: auto;
     height: 100%;
     background-color: #141922;
     color: white;
    
}

/* -------BLOCCO DESTRO --------- */

/* ----- BLOCCO SINISTRO-NAV- -------- */
#container_nav{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 15%;
     background-color: black;
     color: white;
     padding: 10px 10px 0 10px;
}

#logo{
     width: 50%;
}

#nav_up div , #nav_up li , #nav_up h4 , #nav_up span {
     padding-bottom: 8px;
}

#icone_nav , #playlist span , #lista_playlist , #download_app {
     color: #6d6d6d;    
}

.fa-plus-square{
     font-size: 200%;
     vertical-align: middle;
}

hr{
     border:0.5px solid #717171;
     margin:5px 0 5px;
}

#username img , #icone_nav img , #download_app img {
     width: 10%;
     vertical-align: middle;
}
/* ----- BLOCCO SINISTRO-NAV- -------- */


/* ------- FOOTER ----------- */
#inferior_container{
     height: 10vh;
     background-color: #282828;
     position: absolute;
     z-index: 1;
     width: 100%;    
}
/* ------- FOOTER ----------- */




















